@import url('http://fonts.cdnfonts.com/css/mina');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body,
    #__next {
        height: 100%;
        width: 100%;
        font-family: 'Mina', sans-serif;
        @apply antialiased
    }
}